# EDA
## Vivienda en Madrid

In [8]:
import pandas as pd
from utils import funciones as f

pd.set_option('display.max_columns', None)

In [9]:
data = pd.read_csv('.\data\houses_Madrid.csv', index_col='Unnamed: 0')
data = data.sort_index(axis= 1)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   are_pets_allowed              0 non-null      float64
 1   built_year                    10000 non-null  float64
 2   buy_price                     21742 non-null  int64
 3   buy_price_by_area             21742 non-null  int64
 4   door                          0 non-null      float64
 5   energy_certificate            21742 non-null  object
 6   floor                         19135 non-null  object
 7   has_ac                        11211 non-null  object
 8   has_balcony                   3321 non-null   object
 9   has_central_heating           13608 non-null  object
 10  has_fitted_wardrobes          13399 non-null  object
 11  has_garden                    1556 non-null   object
 12  has_green_zones               4057 non-null   object
 13  has_individual_heating        13608 non-null  object
 14  has_lift                      19356 non-null  object
 15  has_parking                   21742 non-null  bool
 16  has_pool                      5171 non-null   object
 17  has_private_parking           0 non-null      float64
 18  has_public_parking            0 non-null      float64
 19  has_storage_room              7698 non-null   object
 20  has_terrace                   9548 non-null   object
 21  house_type_id                 21351 non-null  object
 22  id                            21742 non-null  int64
 23  is_accessible                 4074 non-null   object
 24  is_buy_price_known            21742 non-null  bool
 25  is_exact_address_hidden       21742 non-null  bool
 26  is_exterior                   18699 non-null  object
 27  is_floor_under                20572 non-null  object
 28  is_furnished                  0 non-null      float64
 29  is_kitchen_equipped           0 non-null      float64
 30  is_new_development            20750 non-null  object
 31  is_orientation_east           11358 non-null  object
 32  is_orientation_north          11358 non-null  object
 33  is_orientation_south          11358 non-null  object
 34  is_orientation_west           11358 non-null  object
 35  is_parking_included_in_price  7719 non-null   object
 36  is_renewal_needed             21742 non-null  bool
 37  is_rent_price_known           21742 non-null  bool
 38  latitude                      0 non-null      float64
 39  longitude                     0 non-null      float64
 40  n_bathrooms                   21726 non-null  float64
 41  n_floors                      1437 non-null   float64
 42  n_rooms                       21742 non-null  int64
 43  neighborhood_id               21742 non-null  object
 44  operation                     21742 non-null  object
 45  parking_price                 7719 non-null   float64
 46  portal                        0 non-null      float64
 47  raw_address                   16277 non-null  object
 48  rent_price                    21742 non-null  int64
 49  rent_price_by_area            0 non-null      float64
 50  sq_mt_allotment               1432 non-null   float64
 51  sq_mt_built                   21616 non-null  float64
 52  sq_mt_useful                  8228 non-null   float64
 53  street_name                   15837 non-null  object
 54  street_number                 6300 non-null   object
 55  subtitle                      21742 non-null  object
 56  title                         21742 non-null  object
dtypes: bool(5), float64(17), int64(5), object(30)
memory usage: 8.9+ MB

In [11]:
data.describe(include = 'all').round()

,are_pets_allowed,built_year,buy_price,buy_price_by_area,door,energy_certificate,floor,has_ac,has_balcony,has_central_heating,has_fitted_wardrobes,has_garden,has_green_zones,has_individual_heating,has_lift,has_parking,has_pool,has_private_parking,has_public_parking,has_storage_room,has_terrace,house_type_id,id,is_accessible,is_buy_price_known,is_exact_address_hidden,is_exterior,is_floor_under,is_furnished,is_kitchen_equipped,is_new_development,is_orientation_east,is_orientation_north,is_orientation_south,is_orientation_west,is_parking_included_in_price,is_renewal_needed,is_rent_price_known,latitude,longitude,n_bathrooms,n_floors,n_rooms,neighborhood_id,operation,parking_price,portal,raw_address,rent_price,rent_price_by_area,sq_mt_allotment,sq_mt_built,sq_mt_useful,street_name,street_number,subtitle,title
count,0.0,10000.0,21742.0,21742.0,0.0,21742,19135,11211,3321,13608,13399,1556,4057,13608,19356,21742,5171,0.0,0.0,7698,9548,21351,21742.0,4074,21742,21742,18699,20572,0.0,0.0,20750,11358,11358,11358,11358,7719,21742,21742,0.0,0.0,21726.0,1437.0,21742.0,21742,21742,7719.0,0.0,16277,21742.0,0.0,1432.0,21616.0,8228.0,15837,6300,21742,21742
unique,NaN,NaN,NaN,NaN,NaN,10,19,1,1,2,1,1,1,2,2,2,1,NaN,NaN,1,1,4,NaN,1,1,2,2,2,NaN,NaN,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,126,1,NaN,NaN,9666,NaN,NaN,NaN,NaN,NaN,6177,420,146,10736
top,NaN,NaN,NaN,NaN,NaN,en trámite,1,True,True,False,True,True,True,True,True,False,True,NaN,NaN,True,True,HouseType 1: Pisos,NaN,True,True,True,True,False,NaN,NaN,False,False,False,True,False,True,False,False,NaN,NaN,NaN,NaN,NaN,Neighborhood 23: Malasaña-Universidad (5196.25...,sale,NaN,NaN,Paseo de la Castellana,NaN,NaN,NaN,NaN,NaN,Paseo de la Castellana,4,"Chamartín, Madrid",Piso en venta en El Viso
freq,NaN,NaN,NaN,NaN,NaN,10937,4440,11211,3321,9516,13399,1556,4057,9516,14895,14023,5171,NaN,NaN,7698,9548,17705,NaN,4074,21742,15002,16922,18033,NaN,NaN,19281,6302,8567,5823,7287,7115,17747,21742,NaN,NaN,NaN,NaN,NaN,485,21742,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,116,210,851,193
mean,NaN,1970.0,653736.0,4021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,3.0,NaN,NaN,2658.0,NaN,NaN,-59170.0,NaN,242.0,147.0,103.0,NaN,NaN,NaN,NaN
std,NaN,69.0,782082.0,1908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN,13361.0,NaN,NaN,917116.0,NaN,247.0,134.0,88.0,NaN,NaN,NaN,NaN
min,NaN,1723.0,36000.0,447.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN,-34590276.0,NaN,1.0,13.0,1.0,NaN,NaN,NaN,NaN
25%,NaN,1957.0,198000.0,2551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,725.0,NaN,2.0,70.0,59.0,NaN,NaN,NaN,NaN
50%,NaN,1970.0,375000.0,3720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,3.0,NaN,NaN,0.0,NaN,NaN,1116.0,NaN,232.0,100.0,79.0,NaN,NaN,NaN,NaN
75%,NaN,1994.0,763600.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,1687.0,NaN,354.0,162.0,113.0,NaN,NaN,NaN,NaN
max,NaN,8170.0,8800000.0,18889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21742.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,7.0,24.0,NaN,NaN,600000.0,NaN,NaN,2517.0,NaN,997.0,999.0,998.0,NaN,NaN,NaN,NaN

In [12]:
df = f.nombre_columnas(data)

In [13]:
f.cardinalidad(df)

,variable,tipo_dato,cantidad_de_nulos,valores_unicos,cardinalidad,porcentaje_cardinalidad,tipo_variable
0,annio_construccion,float64,11742,"[1960.0, nan, 1955.0, 2003.0, 1981.0, 1950.0, ...",155,0.712906,discreta
1,precio_venta,int64,0,"[85000, 129900, 144247, 109900, 260000, 195000...",2403,11.052341,continua
2,precio_venta_por_m2,int64,0,"[1328, 1856, 1535, 1717, 2407, 1548, 1583, 158...",5643,25.954374,continua
3,cee,object,0,"[D, en trámite, no indicado, F, E, inmueble ex...",10,0.045994,ordinal
4,piso,object,2607,"[3, 4, 1, Bajo, 2, nan, 7, 6, Semi-sótano, 5, ...",19,0.087388,ordinal
5,balcon,object,18421,"[nan, True]",1,0.004599,nominal
6,armarios_empotrados,object,8343,"[nan, True]",1,0.004599,nominal
7,jardin,object,20186,"[nan, True]",1,0.004599,nominal
8,zonas_verdes,object,17685,"[nan, True]",1,0.004599,nominal
9,estacionamiento,bool,0,"[False, True]",2,0.009199,nominal
10,pileta,object,16571,"[nan, True]",1,0.004599,nominal
11,trastero,object,14044,"[nan, True]",1,0.004599,nominal
12,terraza,object,12194,"[nan, True]",1,0.004599,nominal
13,tipo_inmueble,object,391,"[HouseType 1: Pisos, HouseType 4: Dúplex, nan,...",4,0.018398,nominal
14,accesible,object,17668,"[nan, True]",1,0.004599,nominal
15,exterior,object,3043,"[True, nan, False]",2,0.009199,nominal
16,bajo,object,1170,"[False, True, nan]",2,0.009199,nominal
17,necesita_reforma,bool,0,"[False, True]",2,0.009199,nominal
18,bannos,float64,16,"[1.0, 2.0, 3.0, 4.0, 6.0, nan, 5.0, 14.0, 7.0,...",16,0.073590,discreta
19,habitaciones,int64,0,"[2, 3, 4, 5, 1, 0, 8, 6, 9, 7, 12, 10, 11, 16,...",19,0.087388,discreta
20,metros_cuadrados,float64,126,"[64.0, 70.0, 94.0, 108.0, 126.0, 120.0, 125.0,...",678,3.118388,continua
21,ubicacion,object,0,"[San Cristóbal, Madrid, Los Ángeles, Madrid, S...",146,0.671511,nominal

## Analisis Univariante

##### Variables Cuantitativas

In [ ]:
df_cuant = df.select_dtypes(include = 'number')
df_cuant.describe().round()

In [ ]:
f.graficos_variables_cuant(df_cuant)

##### Variables Cualitativas

In [ ]:
df_cual = df.select_dtypes(exclude= 'number')

In [ ]:
f.graficos_variables_cualit(df_cual)

## Limpieza de datos

##### Rellenado columnas que tienen solo un valor

In [14]:
df = f.rellenar_columnas_F(df) #asumiendo que los datos que solo tienen un valor y son booleanos, el dato faltante es True or False

##### Rellenado de datos en base a medias o como consecuencia de otras columnas

In [15]:
df = f.rellenar_annios_nulos_necesitan_reforma(df)
df = f.rellenar_annios_nulos_no_necesitan_reforma(df)
df = f.rellenar_annio_outlier(df)
df = f.rellenar_pisos_nulos(df)
df = f.rellenar_bajos_nulos(df)
df = f.sacar_metros_cuadrados_nuevos(df)
df = f.rellenar_exterior(df)
df = f.rellenar_tipo_inmueble(df)
df = f.rellenar_bannos_nulos(df)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   precio_venta         21742 non-null  int64
 1   precio_venta_por_m2  21742 non-null  int64
 2   cee                  21742 non-null  object
 3   balcon               21742 non-null  bool
 4   armarios_empotrados  21742 non-null  bool
 5   jardin               21742 non-null  bool
 6   zonas_verdes         21742 non-null  bool
 7   estacionamiento      21742 non-null  bool
 8   pileta               21742 non-null  bool
 9   trastero             21742 non-null  bool
 10  terraza              21742 non-null  bool
 11  tipo_inmueble        21742 non-null  object
 12  accesible            21742 non-null  bool
 13  exterior             21742 non-null  bool
 14  bajo                 21742 non-null  bool
 15  necesita_reforma     21742 non-null  bool
 16  habitaciones         21742 non-null  int64
 17  ubicacion            21742 non-null  object
 18  annio_construccion   21742 non-null  float64
 19  piso                 21742 non-null  object
 20  metros_cuadrados     21742 non-null  float64
 21  bannos               21742 non-null  float64
dtypes: bool(12), float64(3), int64(3), object(4)
memory usage: 1.9+ MB

##### Se agregan datos para analizar de mejor manera

In [17]:
'''ya guardé un csv con el dataframe ejecutado pero el utils esta la función con la que obtuve esa información'''
df_coordenadas = pd.read_csv('.\data\df_coordenadas.csv', index_col= 'Unnamed: 0')

In [18]:
df = pd.merge(df,df_coordenadas, on= 'ubicacion')

In [22]:
sorted(df['ubicacion'].unique())

['12 de Octubre-Orcasur, Madrid',
 'Abrantes, Madrid',
 'Acacias, Madrid',
 'Adelfas, Madrid',
 'Alameda de Osuna, Madrid',
 'Almagro, Madrid',
 'Almendrales, Madrid',
 'Aluche, Madrid',
 'Ambroz, Madrid',
 'Apóstol Santiago, Madrid',
 'Arapiles, Madrid',
 'Aravaca, Madrid',
 'Arganzuela, Madrid',
 'Argüelles, Madrid',
 'Arroyo del Fresno, Madrid',
 'Atalaya, Madrid',
 'Barajas, Madrid',
 'Barrio de Salamanca, Madrid',
 'Bellas Vistas, Madrid',
 'Bernabéu-Hispanoamérica, Madrid',
 'Berruguete, Madrid',
 'Buena Vista, Madrid',
 'Butarque, Madrid',
 'Campamento, Madrid',
 'Campo de las Naciones-Corralejos, Madrid',
 'Canillas, Madrid',
 'Carabanchel, Madrid',
 'Casa de Campo, Madrid',
 'Casco Histórico de Barajas, Madrid',
 'Casco Histórico de Vallecas, Madrid',
 'Casco Histórico de Vicálvaro, Madrid',
 'Castellana, Madrid',
 'Castilla, Madrid',
 'Centro, Madrid',
 'Chamartín, Madrid',
 'Chamberí, Madrid',
 'Chopera, Madrid',
 'Chueca-Justicia, Madrid',
 'Ciudad Jardín, Madrid',
 'Ciudad Lineal, Madrid',
 'Ciudad Universitaria, Madrid',
 'Colina, Madrid',
 'Comillas, Madrid',
 'Concepción, Madrid',
 'Conde Orgaz-Piovera, Madrid',
 'Costillares, Madrid',
 'Cuatro Caminos, Madrid',
 'Cuatro Vientos, Madrid',
 'Cuzco-Castillejos, Madrid',
 'Delicias, Madrid',
 'El Cañaveral - Los Berrocales, Madrid',
 'El Pardo, Madrid',
 'El Plantío, Madrid',
 'El Viso, Madrid',
 'Ensanche de Vallecas - La Gavia, Madrid',
 'Entrevías, Madrid',
 'Estrella, Madrid',
 'Fontarrón, Madrid',
 'Fuencarral, Madrid',
 'Fuente del Berro, Madrid',
 'Fuentelarreina, Madrid',
 'Gaztambide, Madrid',
 'Goya, Madrid',
 'Guindalera, Madrid',
 'Horcajo, Madrid',
 'Hortaleza, Madrid',
 'Huertas-Cortes, Madrid',
 'Ibiza, Madrid',
 'Imperial, Madrid',
 'Jerónimos, Madrid',
 'La Paz, Madrid',
 'Las Tablas, Madrid',
 'Latina, Madrid',
 'Lavapiés-Embajadores, Madrid',
 'Legazpi, Madrid',
 'Lista, Madrid',
 'Los Cármenes, Madrid',
 'Los Rosales, Madrid',
 'Los Ángeles, Madrid',
 'Lucero, Madrid',
 'Malasaña-Universidad, Madrid',
 'Marroquina, Madrid',
 'Media Legua, Madrid',
 'Mirasierra, Madrid',
 'Moncloa, Madrid',
 'Montecarmelo, Madrid',
 'Moratalaz, Madrid',
 'Moscardó, Madrid',
 'Niño Jesús, Madrid',
 'Nueva España, Madrid',
 'Nuevos Ministerios-Ríos Rosas, Madrid',
 'Numancia, Madrid',
 'Opañel, Madrid',
 'Orcasitas, Madrid',
 'Pacífico, Madrid',
 'Palacio, Madrid',
 'Palomas, Madrid',
 'Palomeras Bajas, Madrid',
 'Palomeras sureste, Madrid',
 'Palos de Moguer, Madrid',
 'Pau de Carabanchel, Madrid',
 'Pavones, Madrid',
 'Peñagrande, Madrid',
 'Pilar, Madrid',
 'Pinar del Rey, Madrid',
 'Portazgo, Madrid',
 'Pradolongo, Madrid',
 'Prosperidad, Madrid',
 'Pueblo Nuevo, Madrid',
 'Puente de Vallecas, Madrid',
 'Puerta Bonita, Madrid',
 'Puerta del Ángel, Madrid',
 'Quintana, Madrid',
 'Recoletos, Madrid',
 'Retiro, Madrid',
 'San Andrés, Madrid',
 'San Cristóbal, Madrid',
 'San Diego, Madrid',
 'San Fermín, Madrid',
 'San Isidro, Madrid',
 'San Juan Bautista, Madrid',
 'San Pascual, Madrid',
 'Sanchinarro, Madrid',
 'Santa Eugenia, Madrid',
 'Sol, Madrid',
 'Tetuán, Madrid',
 'Timón, Madrid',
 'Trafalgar, Madrid',
 'Tres Olivos - Valverde, Madrid',
 'Usera, Madrid',
 'Valdeacederas, Madrid',
 'Valdebebas - Valdefuentes, Madrid',
 'Valdebernardo - Valderribas, Madrid',
 'Valdemarín, Madrid',
 'Valdezarza, Madrid',
 'Vallehermoso, Madrid',
 'Ventas, Madrid',
 'Ventilla-Almenara, Madrid',
 'Vicálvaro, Madrid',
 'Villa de Vallecas, Madrid',
 'Villaverde, Madrid',
 'Vinateros, Madrid',
 'Virgen del Cortijo - Manoteras, Madrid',
 'Vista Alegre, Madrid',
 'Zofío, Madrid',
 'Águilas, Madrid']

In [ ]:
centro = ['Palacio, Madrid', 'Lavapiés-Embajadores, Madrid', 'Huertas-Cortes, Madrid', ]

arganzuela = ['Imperial, Madrid', 'Acacias, Madrid', 'Chopera, Madrid', 'Legazpi, Madrid', 'Delicias, Madrid', 
              'Palos de Moguer, Madrid']

retiro = ['Pacífico, Madrid', 'Adelfas, Madrid', 'Estrella, Madrid', 'Ibiza, Madrid', 'Jerónimos, Madrid', 'Niño Jesús, Madrid']

salamanca = ['Recoletos, Madrid', 'Goya, Madrid', 'Fuente del Berro, Madrid', 'Guindalera, Madrid', 'Lista, Madrid', 'Castellana, Madrid']

chamartin = ['El Viso, Madrid', 'Prosperidad, Madrid', 'Ciudad Jardín, Madrid', 'Bernabéu-Hispanoamérica, Madrid', 
             'Nueva España, Madrid', 'Castilla, Madrid']

tetuan = ['Bellas Vistas, Madrid', 'Cuatro Caminos, Madrid', 'Cuzco-Castillejos, Madrid', 'Ventilla-Almenara, Madrid', 
          'Valdeacederas, Madrid', 'Berruguete, Madrid']

chamberi = ['Gaztambide, Madrid', 'Arapiles, Madrid', 'Trafalgar, Madrid', 'Almagro, Madrid', 'Vallehermoso, Madrid']

fuencarral_pardo = ['El Pardo, Madrid', 'Fuentelarreina, Madrid', 'Peñagrande, Madrid', 'Pilar, Madrid', 'La Paz, Madrid', 
                    'Tres Olivos - Valverde, Madrid', 'Mirasierra, Madrid']

moncloa_arav = ['Casa de Campo, Madrid', 'Argüelles, Madrid', 'Ciudad Universitaria, Madrid', 'Valdezarza, Madrid', 
                'Valdemarín, Madrid', 'El Plantío, Madrid', 'Aravaca, Madrid']

latina = ['Los Cármenes, Madrid', 'Puerta del Ángel, Madrid', 'Lucero, Madrid',
          'Aluche, Madrid','Campamento, Madrid','Cuatro Vientos, Madrid','Las Águilas, Madrid']

carabanchel = ['Comillas, Madrid','Opañel, Madrid','San Isidro, Madrid',
               'Vista Alegre, Madrid','Puerta Bonita, Madrid','Buena Vista, Madrid','Abrantes, Madrid']

usera = ['Orcasitas, Madrid','Opañel, Madrid','San Fermín, Madrid',
         'Almendrales, Madrid','Moscardó, Madrid','Zofío, Madrid','Pradolongo, Madrid']

puente_vallecas = ['Entrevías, Madrid','San Diego, Madrid','Palomeras Bajas, Madrid',
                   'Palomeras sureste, Madrid','Portazgo, Madrid','Numancia, Madrid']

moratalaz = ['Pavones, Madrid', 'Horcajo, Madrid', 'Marroquina, Madrid', 'Media Legua, Madrid',
             'Fontarrón, Madrid', 'Vinateros, Madrid']

ciudad_lineal = ['Ventas, Madrid', 'Pueblo Nuevo, Madrid', 'Quintana, Madrid', 'Concepción, Madrid',
                 'San Pascual, Madrid', 'San Juan Bautista, Madrid', 'Colina, Madrid', 'Atalaya, Madrid', 'Costillares, Madrid']

hortaleza = ['Palomas, Madrid', 'Canillas, Madrid', 'Pinar del Rey, Madrid',
             'Apóstol Santiago, Madrid', 'Valdebebas - Valdefuentes, Madrid']

villaverde = ['Villaverde, Madrid', 'San Cristóbal, Madrid', 'Butarque, Madrid', 'Los Rosales, Madrid', 'Los Ángeles, Madrid']

villa_vallecas = ['Casco Histórico de Vallecas, Madrid', 'Santa Eugenia, Madrid', 'Ensanche de Vallecas - La Gavia, Madrid']

vicalvaro = ['Casco Histórico de Vicálvaro, Madrid', 'Valdebernardo - Valderribas, Madrid', 'El Cañaveral - Los Berrocales, Madrid']

barajas = ['Alameda de Osuna, Madrid', 'Casco Histórico de Barajas, Madrid', 'Timón, Madrid']

In [ ]:
df = f.determinacion_zonas(df)

In [ ]:
df.info()

#### Analisis de la variable principal

In [ ]:
f.grafico_variable_ppal(df)

In [ ]:
f.prueba_grafica_normalidad(df)

In [ ]:
f.prueba_normalidad_shapiro(df)

##### Pair plo para ver como están relacionadas las variables numéricas del DataFrame

In [ ]:
f.pair_plot(df)

In [ ]:
df.corr(numeric_only=True)

## Análisis Bivariante

In [ ]:
f.precio_cee(df)

In [ ]:
f.precio_tipo_inmueble(df)

In [ ]:
f.grafico_precio_zona(df)

In [ ]:
f.grafico_precio_var1(df, 'jardin')

In [ ]:
f.grafico_precio_var1(df, 'balcon')

In [ ]:
f.grafico_precio_var1(df, 'terraza')

In [ ]:
f.grafico_precio_var1(df, 'necesita_reforma')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

ax = sns.countplot(data= df.sort_values(by='zona'), x= 'zona', palette='husl')
# ax.set_xticklabels(df['zona'].sort_values().unique(), rotation=90)
#se superponen los valores porque me da uns advertencia al aplicar este parametro, no sé como sacarla :)
plt.title(f"Conteo variable Zona")
plt.show();

In [ ]:
f.grafico_var1_var2(df, 'habitaciones', 'bannos')

In [ ]:
f.grafico_var1_var2(df, 'precio_venta_por_m2', 'metros_cuadrados')

#### Análisis Multivariante

In [ ]:
f.grafico_precio_zona_yvariable(df, 'estacionamiento')

In [ ]:
f.grafico_precio_zona_yvariable(df,'exterior')

In [ ]:
f.grafico_precio_zona_yvariable(df, 'terraza')

In [ ]:
f.grafico_precio_zona_yvariable(df,'tipo_inmueble')

In [ ]:
f.grafico_precio_tipo_inmueble_yvariable(df, 'estacionamiento')

In [ ]:
f.grafico_precio_tipo_inmueble_yvariable(df, 'terraza')

In [ ]:
f.grafico_precio_tipo_inmueble_yvariable(df,'exterior')

In [ ]:
f.grafico_precio_var1_var2(df, 'habitaciones', 'estacionamiento')

In [ ]:
f.grafico_precio_var1_var2(df, 'habitaciones', 'jardin')

In [ ]:
f.grafico_precio_var1_var2(df, 'habitaciones', 'trastero')

In [ ]:
f.grafico_precio_var1_var2(df, 'habitaciones', 'zona')

In [ ]:
f.grafico_precio_var1_var2(df, 'habitaciones', 'balcon')

In [ ]:
df_cuant.corr(numeric_only=True)

In [ ]:
f.grafico_heatmap(df)

Transformamos las columnas booleanas del data frame a 1 y ceros para poder analizar la correlación completa entre las variables

In [ ]:
df_num = f.tranformacion_numerica(df)

In [ ]:
f.grafico_heatmap(df_num)

#### Comprobaciones estadísticas

In [ ]:
f.prueba_corr_separmanr(df, 'precio_venta_por_m2', 'habitaciones')

In [ ]:
f.prueba_corr_separmanr(df, 'precio_venta_por_m2', 'bannos')

In [ ]:
f.prueba_corr_separmanr(df, 'precio_venta_por_m2', 'metros_cuadrados')

In [ ]:
f.prueba_corr_separmanr(df, 'precio_venta_por_m2', 'annio_construccion')

In [ ]:
f.prueba_corr_separmanr(df_num, 'precio_venta_por_m2', 'trastero')

In [ ]:
f.prueba_corr_separmanr(df_num, 'precio_venta_por_m2', 'balcon')

In [ ]:
f.prueba_krus_cee(df)

In [ ]:
f.prueba_krus_zonas(df)

In [ ]:
f.grafico_mapa(df, 't')

In [ ]:
f.grafico_mapa(df, 'z')